@charset "UTF-8";

body {
	width: 500px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

textarea {
	width: 100%;
}

table.list {
	width: 100%;
}

table.list tr:nth-child(even) {
    background-color: #D8F8DC;
}

table.list th {
    padding: 0.5em;
    background-color: #A1E2C6;
}

table .list td {
	padding: 0.5em;
	vertical-align: top;
}

table .list2 td {
	padding-right: 1em;
	padding-bottom: 0.5em;
}
